body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
}
.board {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}
.black {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.black-marked {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05330b;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.white {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.red-piece {
    background-color: #f00;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.white-piece {
    background-color: rgba(255, 255, 255, 0.911);
    border: 2px solid #f00;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.king{
    box-shadow: 0 4px 6px 0 #FFB743, 0px 4px 16px 0 #FFB743;
    border: 2px solid #FFB743;
}
.centered-img {
    display: block;
    margin: 8 auto;
  }
#restart-button{
    display: inline-flex;
    align-items: center;
}
.button-ds{
    width: 100px;
    height: 30px;
    border: 1px solid white;
    background-color: #f00;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
.button-win-ds{
    width: 150px;
    height: 30px;
    border: 1px solid white;
    background-color: #f00;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
.button-ds:hover{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color: #f0f0f0;
}
.button-win-ds:hover{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color: #f0f0f0;
}
.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #f0f0f0;
    padding: 10px 20px;
}
.scoreboard-whiteTurn {
    border-bottom: 7px solid #ffffff;
}
.scoreboard-redTurn {
    border-bottom: 7px solid #f00;
}
.container-logo {
    text-align: center;
}
.player {
    display: flex;
    align-items: center;
}
.player-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
#dialog {
    display: none;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#dialog-error {
    display: none;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 14px;
    color:#ED1B2E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dialog-error-endTurn {
    display: none;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 14px;
    color:#ED1B2E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dialog-winner {
    display: none;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px #FFB743;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}
#startButton {
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
}
#msg{
    color:#f00;
    font-size: 10px;
}
#startButton:hover {
    background-color: #333;
}
.button-container {text-align: center;}
